# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directories
coverage
*.lcov
.nyc_output

# Build / compiled output
build/
build/Release
.next
out
.nuxt
dist
.vuepress/dist
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.serverless/
.fusebox/

# Temporary / cache files
lib-cov
.cache
.parcel-cache
.temp
.tern-port
.vscode-test
.dynamodb/
.firebase/

# Dependency directories
node_modules/
jspm_packages/
bower_components/
web_modules/
.pnp*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# TypeScript cache
*.tsbuildinfo

# Optional npm / yarn / linter cache
.npm
.eslintcache
.stylelintcache

# dotenv environment variable files
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

# Parcel / Vite / Vitepress / Next / Gatsby specific
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.cache/

# Miscellaneous
.DS_Store
*.tgz
.lock-wscript
